@media (max-width: 767px) {
    .column-1, .column-3 {
        width: 100%;
    }
    .column-2 {
        width: 100%;
        background-color: #212a39;
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .column-1 {
        width: 100%;
    }
    .column-2 {
        width: 100%;
        background-color: #212a39;
        display: none;
    }
    .column-3 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .column-1 {
        width: 80%;
    }
    .column-2 {
        width: 20%;
        background-color: #212a39;
    }
    .column-3 {
        width: 100%;
    }
}

li.li-1 {
    display: block;
}

li.li-1:hover {
    background: #00000020;
}

.column-2 a {
    float: none;
    color: #c1c7c1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user a {
    float: none;
    color: #c1c7c1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.column-2 a:hover {
    text-decoration: none;
    color: #343a40 !important;
    border-radius: 0 !important;
}

.ddd {
    float: left;
    overflow: hidden;
}

.ddd .dbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color: #fcf173;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    display: block;
    text-align: left;
    width: 100% !important;
    text-decoration: none;
}

.ddd:hover .dbtn {
    background-color: #555;
    color: white;
    border-radius: 0 !important;
}

